body{
    margin: 0px;
    padding: 50px;
    padding-left: 10%;
    padding-right: 10%;
    background-color: aquamarine;
}

#titulo_herramienta{
    padding-top: 50px;
    padding-bottom: 50px;
}

h1{
    text-align: center;
}
